<div class="container pokemon-detail">
  <div class="card mb-2 pokemon animated flipInY d-flex align-items-center" *ngIf="pokemon">
    <div class="pokemon-baseinfo">
      <img class="card-img-top pokemon-image animated flipInY" [src]="pokemon.sprites.front_default" alt="Pokemon">
      <h2>{{ pokemon.name }}</h2>
      <dl class="row">
        <dt class="col-sm-3">Tipos</dt>
        <dd class="col-sm-9"><span class="badge badge-info" *ngFor="let type of pokemon.types">{{type.type.name}}</span></dd>

        <dt class="col-sm-3">Golpes</dt>
        <dd class="col-sm-9"><span class="badge badge-info" *ngFor="let ability of pokemon.abilities">{{ability.ability.name}}</span></dd>
      </dl>
    </div>
    <div class="pokemon-info">
      <div *ngFor="let stats of pokemon.stats">
        <span class="pokemon-stat">{{ stats.stat.name }}</span>
        <ngb-progressbar type="info" [value]="stats.base_stat"><span>{{stats.base_stat}}</span></ngb-progressbar>
      </div>
    </div>
  </div>
</div>
